<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title>Cache Test</title>
    <link rel="stylesheet" type="text/css"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"/>
    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  </head>
  <body>
  <th:block>
    <div th:include="header :: header"/>
  </th:block>

  <div class="container">This call should be cached. First call should be ~<span th:text="${cacheDelay}">delay</span> The Response should be cached and a reload should happen
  immediately. After calling this page the Cache will be visible in the Cache tab. To create more entries in the cache please edit the cacheEntry parameter.</div>
  <div class="container">If you would like to make the cache delay shorter, please start the app with the fast profile ('mvn spring-boot:run -P fast)</div>
  </body>
</html>